.carousel-item img {
  width: 100%;
  height: 80vh; /* Ocupa 80% da altura da tela */
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer, cortando o excesso */
  object-position: center; /* Centraliza a imagem, focando no meio */
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 50vh; /* Altura menor e mais consistente para telas de celular */
    object-position: center 25%; /* Ajusta a posição vertical para focar um pouco mais para cima */
  }
}

/* Styles for Carousel Captions */
.carousel-caption h3,
.carousel-caption p {
  color: #333; /* Cinza escuro para melhor contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra preta para legibilidade */
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.6); /* Fundo branco semi-transparente */
  padding: 15px;
  border-radius: 5px;
}